p{
	color:green;
	background-color:red;
	font-family:cursive;
	text-align:center;
	font-size:50x;
}
h4{
    color:lightgreen;
	background-color:blue;
	font-family:cursive;
	text-align:center;
	font-size:100x;
}